/* General Styling */

:root {
    --text-color: #fafafa;
}

html,
body {
    min-height: 100vh;
    font-family: 'Roboto', 'sans-serif';
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > .container {
    padding-top: 10px;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    text-align: center;
}

p {
    font-size: 3rem;
}
/* Background images for the body element for each page*/


.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.city {
    background-image: url('../images/bg-images/city.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)) , url("../images/bg-images/city.jpg");
    
}

.arena {
    background-image: url('../images/bg-images/arena.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)) , url('../images/bg-images/arena.jpg');

}

.forest {
    background-image: url('../images/bg-images/forest.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3)) , url('../images/bg-images/forest.jpg');
}

.canyon {
    background-image: url('../images/bg-images/canyon.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3)) , url('../images/bg-images/canyon.jpg');
}

.volcano {
    background-image: url('../images/bg-images/volcano.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.3)) , url('../images/bg-images/volcano.jpg');
}


/* Footer styling */

footer {
    padding-top: 40px;
}

.back-to--select {
    width: 7rem;
    height: 7rem;
    color: var(--text-color);
}

.footer-text {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Styling for rule slider */

.game-rules {
    animation-name: popup;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
    font-size: 2rem;
}

/* Styling for game select button */

/* Styling for game select button before hovered over */
.game-select--button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgb(33 33 33 / 13%);
    border: 0.2rem solid rgba(217 217 217 / 0.3);
    backdrop-filter: blur(4rem);
    box-shadow: 0 1rem 10rem rgb(0 0 0 / 20%);
    position: relative;
}

/* Styling for pseudo elements for game select button */
.game-select--button::before,
.game-select--button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
}

/* Styling for after pseudo element when hovered over */
.game-select--button:hover::after {
    background-color: red;
    animation: pulse 1000ms infinite;
    z-index: 0;
}

/* Font awesome play icon custom styling */
.play-button {
    color: #fafafa;
    font-size: 3rem;
}


/* Glassmorphism styling */

.glass {
        background-color: rgb(255 255 255 / 20%);
        border: 0.2rem solid rgba(217 217 217 / 0.3);
        backdrop-filter: blur(0.3rem);
        box-shadow: 0 1rem 10rem rgba(0,0,0,0.2);  /* x y blur color */
        border-radius: 5px;
}

/* Styling for game selection cards */


.game-selection--card {
    width: 20rem;
    height: 25rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: 800;
}

.card-content {
    text-align: start;
}

.select-button {
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.356);
}


.select-button--easy::before,
.select-button--easy::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--easy:hover::after {
    background-color: green;
    animation: pulse 1500ms infinite;
}

.select-button--normal::before,
.select-button--normal::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--normal:hover::after {
    background-color: yellow;
    animation: pulse 1500ms infinite;
}

.select-button--hard::before,
.select-button--hard::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--hard:hover::after {
    background-color: red;
    animation: pulse 1500ms infinite;
}

/* Styling for gameTypes  */

.restart {
    font-size: 1rem;
    color: #fafafa;
    margin: 5px;
}

.game-board {
    perspective: 500px;
}

.game-info {
    font-size: 25px;
}

.game-info--header {
    margin-bottom: 5px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.pokeball {
    position: absolute;
    width: 120px;
    height: 175px;
    border-radius: 5px;
    border: 0.2rem solid rgba(255,255,255,0.25);
}

.game-card {
    margin: 2px;
    height: 200px;
    width: 150px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 5px;
}

.game-card.visible .card-back {
    transform: rotateY(-180deg);
}

.game-card.visible .card-front {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
}

.pokemon {
    border-radius: 50%;
    position: absolute;
    width: 140px;
    height: 140px;
    border: 0.2rem solid rgba(255,255,255,0.25);
}

.score-panel  {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 0 0 0;
    color: gold;
}

ul {
    margin: auto;
}


/* Styling for the win screen modal */

.win-screen {
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	visibility: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.glass-modal {
    backdrop-filter: blur(0.8rem);
}

.popup {
    margin: auto;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #fafafa;
}

.popup h2 {
	margin-top: 0;
	color: #fafafa;
}

.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
	text-align: start;
    color: #fafafa;
}

.show {
    visibility: visible;
}
/* ANIMATIONS */

/* Animation for after pseudo element for the navigation buttons */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}


/* Animation for the game rules to pop in the screen */
@keyframes popup {
    from {
        backdrop-filter: blur(2rem);
        top: 55%;
        opacity: 0;
    }
    to {
        backdrop-filter: blur(0.4rem);
        top: 50%;
        opacity: 1;
    }
}
