/* General Styling */

:root {
    --text-color: #fafafa;
}

html,
body {
    min-height: 100vh;
    font-family: 'Roboto', 'sans-serif';
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Background images for the body element for each page*/

.city {
    background-image: url('../images/bg-images/city.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.arena {
    background-image: url('../images/bg-images/arena.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.forest {
    background-image: url('../images/bg-images/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.canyon {
    background-image: url('../images/bg-images/canyon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.volcano {
    background-image: url('../images/bg-images/volcano.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* Styling for rule slider */

.rule-slide {
    width: 50vw;
    height: 50vh;
}

.carousel-item {
    height: 32rem;
}

.carousel-item
h5 {
    text-decoration: underline;
}

/* Styling for game select button */

/* Styling for game select button before hovered over */
.game-select--button {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: rgb(33 33 33 / 13%);
    border: 0.2rem solid rgba(217 217 217 / 0.3);
    backdrop-filter: blur(4rem);
    box-shadow: 0 1rem 10rem rgb(0 0 0 / 20%);
    position: relative;
}

/* Styling for pseudo elements for game select button */
.game-select--button::before,
.game-select--button::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
}

/* Styling for after pseudo element when hovered over */
.game-select--button:hover::after {
    background-color: red;
    animation: pulse 1000ms infinite;
    z-index: 0;
}

/* Font awesome play icon custom styling */
.play-button {
    color: #fafafa;
    font-size: 3rem;
}


/* Glassmorphism styling */

.glass {
        background-color: rgb(255 255 255 / 20%);
        border: 0.2rem solid rgba(217 217 217 / 0.3);
        backdrop-filter: blur(0.3rem);
        box-shadow: 0 1rem 10rem rgba(0,0,0,0.2);  /* x y blur color */
}

/* Styling for game selection cards */


.game-selection--card {
    width: 20rem;
    height: 25rem;
    text-align: center;
    border-radius: 5px;
}

.card-title {
    font-weight: 800;
}

.card-content {
    text-align: start;
}

.select-button {
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.356);
}


.select-button--easy::before,
.select-button--easy::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--easy:hover::after {
    background-color: green;
    animation: pulse 1500ms infinite;
}

.select-button--normal::before,
.select-button--normal::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--normal:hover::after {
    background-color: yellow;
    animation: pulse 1500ms infinite;
}

.select-button--hard::before,
.select-button--hard::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.select-button--hard:hover::after {
    background-color: red;
    animation: pulse 1500ms infinite;
}

/* Styling for gameTypes  */

.game-info {
    font-size: 25px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pokeball {
    position: absolute;
    width: 120px;
    height: 175px;
    border-radius: 5px;
    border: 0.2rem solid rgba(255,255,255,0.25);
}

.game-card {
    margin: 2px;
    height: 200px;
    width: 150px;
    position: relative;
    border-radius: 5px;
}

/* ANIMATIONS */

/* Animation for after pseudo element for the navigation buttons */
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

